<div class="col-md-12 well">
<div class="row">
	<div class="col-md-2">
	<!-- <a href="#/booking"><img alt="Movies" src="../resources/images/movies.jpg" height="50%" width="50%"></a> -->
	</div>

	<div class="col-md-8">
		<BR><BR>
	</div>

	<div class="col-md-2">
	<!-- <a href="#/cancellation"><img alt="Theater" src="../resources/images/theater.jpg" height="50%" width="50%"></a> -->
	</div>
</div>

<div class="row">
	<div class="col-md-2">
	</div>

	<div class="col-md-8">

                <!-- Carousel Starts Here -->
            <div id="myCarousel" class="carousel slide vertical">
                <!-- Carousel items -->
                <div class="carousel-inner">
									  <div class="active item">
                        <img src="../resources/images/sultan.jpg">
												<div class="carousel-caption">
												<h3>
												SULTAN
											</h3>
												</div>
                    </div>
                    <div class="item">
                        <img src="../resources/images/ghost.jpg">
												<div class="carousel-caption">
										<h3>
										GHOST BUSTERS
									</h3>
											</div>

                    </div>
                    <div class="item">
                        <img src="../resources/images/Frozen.jpg">
												<div class="carousel-caption">
												<h3>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												FROZEN
											</h3>
												</div>
                    </div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="fa fa-hand-o-up"></i></a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="fa fa-hand-o-down"></i></a>
            </div>
                <!-- Carousel Ends Here -->

</div>

							<div class="col-md-2">
							</div>
							</div>

							<div class="row">
							<div class="col-md-2">
								<!-- <a href="#/login"><img alt="reviews" src="../resources/images/reviews.jpg" height="50%" width="50%"></a> -->
							</div>

							<div class="col-md-8">
								<BR><BR>
							</div>

							<div class="col-md-2">
							<!-- <a href="#/register"><img alt="tickets" src="../resources/images/tickets.jpg" height="50%" width="50%"></a> -->
							</div>
							</div>
</div>
